@(form: Form[(String, Long)])(implicit request: MessagesRequestHeader)

<html>
<head>
    <title>登録 - 家計簿</title>
</head>
    <body>
        <h1>登録</h1>

        @helper.form(action = routes.HomeController.add()) {
            @helper.CSRF.formField

            <fieldset>

                @helper.inputText(form("name"), '_label -> "名前")
                @helper.inputText(form("price"), 'type -> "number", 'min -> 0)

            </fieldset>

            <input type="submit" value="登録">

        }

    </body>
</html>