@(id: Long, form: Form[String])(implicit request: MessagesRequestHeader)

<html>
<head>
    <title>更新 - 家計簿</title>
</head>
    <body>

    <h1>更新</h1>

    @helper.form(action = routes.HomeController.update(id)) {
        @helper.CSRF.formField

        <fieldset>

            @helper.inputText(form("name"), '_label -> "名前")

        </fieldset>

        <input type="submit" value="更新">

    }

    @helper.form(action = routes.HomeController.delete(id)) {
        @helper.CSRF.formField
        <input type="submit" value="削除" class="btn danger">
    }

    </body>
</html>