@import services._
@import java.util._
@(info: Info)

<html>
<head>
    <title>ホーム - 家計簿</title>
</head>
<body>
<h1>家計簿</h1>
<section>
    <p><a href="@controllers.routes.HomeController.register()">登録</a></p>

    <table>
        <thead>
            <th>名前</th>
            <th>値段</th>
            <th>日にち</th>
        </thead>
        <tbody>
        @info.getItemsByTotal.map { entry =>
        <tr>
            <td><a href="@controllers.routes.HomeController.edit(entry.id.get)">@{entry.name}</a></td>
            <td>@{entry.price}円</td>
            <td>@{entry.date}</td>
        </tr>
        }
        </tbody>
    </table>
    @{
        if(info.nonEmpty){
            <table>
                <thead>
                <th>年</th>
                <th>金額</th>

                </thead>
                <tbody>
                {(info.minYear to info.maxYear).map { year: Int =>
                    val sumPrice = info.sumByYear(year)
                    <tr>
                        <td><a href={controllers.routes.HomeController.listYear(year).url}>{year}年</a></td>
                        <td>{sumPrice}円</td>
                    </tr>
                }}
                <tr>
                    <td>合計</td>
                    <td>{info.sumByTotal}円</td>
                </tr>
                </tbody>
            </table>
        }

    }
</section>

</body>
</html>