@import services._
@(items: Seq[Entry])

<html>
<head>
    <title>ホーム - 家計簿</title>
</head>
<body>

<section>
    <table>
        <thead>
            <th>名前</th>
            <th>値段</th>
            <th>日にち</th>
        </tr>
        </thead>
        <tbody>
        @items.map { entry =>
        <tr>
            <td><a href="@controllers.routes.HomeController.edit(entry.id.get)">@{entry.name}</a></td>
            <td>@{entry.price}円</td>
            <td>@{entry.date}</td>
        </tr>
        }
        </tbody>
    </table>
    <p>合計: @{items.map(entry=> entry.price).sum}円</p>
    <p><a href="@controllers.routes.HomeController.register()">登録</a></p>
</section>

</body>
</html>