@import services._
@import java.util._
@(info: Info, year:Int, month:Int)

<html>
<head>
    <title>@{year}年@{month}月 - 家計簿</title>
</head>
<body>
<h1>@{year}年@{month}月</h1>
<section>
    @{
        if(info.nonEmpty){
            val numDays = {
                new GregorianCalendar(year, month -1 , 1).getActualMaximum(Calendar.DAY_OF_MONTH)
            }

            <table>
                <thead>
                <th>名前</th>
                <th>値段</th>
                <th>日にち</th>
                </thead>
                <tbody>
                {info.getItemsByMonth(year, month).map { entry =>
                <tr>
                    <td><a href={controllers.routes.HomeController.edit(entry.id.get).url}>{entry.name}</a></td>
                    <td>{entry.price}円</td>
                    <td>{entry.date}</td>
                </tr>
                }}
                </tbody>
            </table>

            <table>
                <thead>
                <th>日</th>
                <th>金額</th>

                </thead>
                <tbody>
                {(1 to numDays).map { day: Int =>
                    val sumPrice = info.sumByDay(year, month, day)
                    <tr>
                        <td>{day}日</td>
                        <td>{sumPrice}円</td>
                    </tr>
                }}
                <tr>
                    <td>合計</td>
                    <td>{info.sumByMonth(year, month)}円</td>
                </tr>
                </tbody>
            </table>
        }

    }
</section>

</body>
</html>